<section class="work">
  <h1 class="work__h1">Mis trabajos</h1>
  <div class="work__box">
    <div class="work__job">
<h2>job 1</h2>
    </div>
    <div class="work__job work__img1">
    <a href="https://osf-react.vercel.app/"><img src="../../../assets/images/jobOSF.PNG" width="250px" height= "250px" alt=""></a>
    </div>
    <div class="work__job">
      <h2>job 1</h2>
    </div>
    <div class="work__job">
      <h2>job 1</h2>
    </div>
    <div class="work__job">
      <h2>job 1</h2>
    </div>
  </div>
</section>
