.form{
  display: flex;
flex-direction: column;
justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(158,158,158);
  background: linear-gradient(180deg, rgba(158,158,158,1) 0%, hsla(142, 98%, 55%, 0.582) 50%);
  height: 90vh;
  @media screen  and (max-width: 1000px) {
    padding-top: 3em;
    height: 90vh;
        }
        &__form{
          display: flex;
          align-items: center;
          justify-content: space-between;
          @media screen  and (max-width: 1000px) {
            flex-direction: column;
                }
        }
        &__fieldset{
          padding: 1em;
          width: 250px;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: 0.2s ease-in-out;
        }
        &__fieldset:hover{
          background-color: rgba(8, 8, 8, 0.562);
          border-radius: 1em;
          color: white;
        }
        &__h2{
          font-family: 'Fredoka One', cursive;
          font-size: 20px;
          justify-content: center;
          text-transform: uppercase;
        }
        &__label{
          font-family: 'Fredoka One', cursive;
          text-transform: uppercase;
        }
        &__input{
          border: 3px solid black;
          border-radius: .5rem;
          margin-top: 1em;
          height: 2em;
          transition: 0.2s ease-in-out;
          &__input:focus{
            border: none;
          }
        }
        &__textarea{
          border: 3px solid black;
          border-radius: .5rem;
          margin-top: 1em;
          height: 4em;
          &__textarea:hover{
            border: 3px solid rgb(245, 242, 242);
          }
        }
        &__button{
          padding: 1rem;
          background-color: black;
          color: white;
          font-family: 'Fredoka One', cursive;
          border: 3px solid black;
          cursor: pointer;
          border-radius: .5rem;
        }
        &__button:hover{
          background-color: rgb(252, 248, 248);
          color: rgb(12, 12, 12);
          border: 3px solid rgb(245, 242, 242);
        }
}
